 @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800');
        *{
            font-family : 'Nanum Gothic';
        }
        body{
            background-color: dodgerblue;
        }
        #loginform{
            border-radius: 4px;
            margin: 5% 20% 30% 30%;
            justify-content: center;
            width : 600px;
            height: 600px;
            display: flex;
            flex-direction: column;
            background-color: dodgerblue;
            border: solid 4px white;
        }
        #loginform>div{
            margin-top: 0;
            margin-left: 12.5%;
            margin-right: 12.5%;
            background-color: #f1f1f1;
            width: 75%;
            text-align: center;
            line-height: 75px;
        }
        #loginform>#id_form,#loginform>#password_form{
            /* margin-top: 20%; */
            font-size: 30px;
            font-weight: bolder;
            background-color: gray;
            text-align: left;
            
        }
        #username,#password{
            border-radius: 4px;
            width : 300px;
            height : 30px;
            font-size: 25px;
        }
        #text{
            font-family : 'Nanum Gothic';
            font-size: 10px;
        }
        #submit{
            width:300px;
            height: 50px;
            font-weight: bolder;
            background-color: dodgerblue;
            border: solid 4px white;
            border-radius: 4px;
        }
        #submit:hover{
            background-color: lightblue;
        }
        #loginform>#login_info{
            font-family : 'Nanum Gothic';
            font-size: 30px;
            color: white;
            background-color: dodgerblue;
            font-weight: bolder;
        }