table {
	border: 1px solid #444444;
	border-collapse: collapse;
}
 a:link { color: black; text-decoration: none;}
 a:visited { color: black; text-decoration: none;}
 a:hover { color: black; text-decoration: underline;}

#test {
	width: 100%;
	heigth: 100px;
	background-color: skyblue;
}

#test2 {
	width: 100%;
	height: 100px;
	background-color: red;
}

#listname {
	width: 100%;
	/* height: 10%; */
	background-color: gray;
}

#area {
	width: 100%;
	height: 100%;
	/* background-color: green; */
}

/*pagination*/
.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	 border: 1px solid #ddd; /* Gray */
}

.pagination a.active {
	background-color: #4CAF50;
	color: white;
}

.pagination a:hover:not (.active ) {
	background-color: #ddd;
}


/* Style the tab */
.tab {
	overflow: hidden;
	width: 71.4%;
	border: 1px solid #ccc;
	/*  background-color: #f1f1f1; */
	background-color: white;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	float: left;
	border: solid black 1px;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	width: 70%;
	border: 1px solid #ccc;
	border-top: none;
}