<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<header>
<table border=1 width="100%">
		<tr>
			<td bgcolor="skyblue" width="12.5%">Sitename</td>
			<td width="12.5%">인사관리시스템</td>
			<td bgcolor="skyblue" width="12.5%">writer</td>
			<td width="12.5%">박상기</td>
			<td bgcolor="skyblue" width="12.5%">Date</td>
			<td width="12.5%"></td>
			<td bgcolor="skyblue" width="12.5%">Version</td>
			<td>v1.3</td>
		</tr>
		<tr>
			<td width="12.5%" bgcolor="skyblue">Step ID</td>
			<td width="12.5%" ></td>
			<td width="12.5%" bgcolor="skyblue">Scene</td>
			<td width="12.5%"></td>
			<td width="12.5%" bgcolor="skyblue">Part</td>
			<td width="12.5%"></td>
			<td width="12.5%" bgcolor="skyblue">Page</td>
			<td width="12.5%"></td>
		</tr>
	</table>
</header>
</html>